@using Entity.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Static Tables</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <div class="ibox">
        <div class="ibox-title">
            <h5>Yorum Listesi</h5>
            <div class="ibox-tools">
                <span class="label label-primary">@Model.Count() Yorum</span>
            </div>
        </div>

        <div class="ibox-content">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kullanıcı</th>
                        <th>Başlık</th>
                        <th>Yorum</th>
                        <th>Blog</th>
                        <th>Puan</th>
                        <th>Tarih</th>
                        <th>İşlem</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {

                        string badge = "";

                        if (item.BlogScore <= 3)
                        {
                            badge = "badge badge-danger";
                        }
                        else if (item.BlogScore <= 6)
                        {
                            badge = "badge badge-warning";
                        }
                        else if (item.BlogScore <= 8)
                        {
                            badge = "badge badge-info";
                        }
                        else
                        {
                            badge = "badge badge-primary";
                        }
                        
    string titleColor = "";

    if(item.BlogScore >= 8)
    {
        titleColor = "label label-primary";
    }
    else if(item.BlogScore >=5)
    {
        titleColor = "label label-warning";
    }
    else
    {
        titleColor = "label label-danger";
    }



                    <tr>

                        <td>@item.CommentID</td>

                        <td>
                            <img src="@item.CommentUserImage"
                                 class="img-circle"
                                 width="45"
                                 height="45" />

                            <strong>@item.CommentUserName</strong>
                        </td>

                        <td>
                        <span class="@titleColor">
                            @item.CommentTitle
                        </span>
                        </td>

                        <td>

                            @(item.CommentContent.Length > 70
                                                        ? item.CommentContent.Substring(0, 70) + "..."
                                                        : item.CommentContent)

                        </td>

                            <td>

                                <span class="label label-success">
                                    @item.Blog.BlogTitle
                                </span>

                            </td>

                            <td>

                                <span class="@badge">
                                    ⭐ @item.BlogScore/10
                                </span>

                            </td>

                            <td>
                                @item.Date.ToString("dd MMM yyyy")
                            </td>

                            <td>

                                <a href="/Comment/Detail/@item.CommentID"
                                   class="btn btn-xs btn-info">
                                    <i class="fa fa-eye"></i>
                                </a>

                                <a href="/Comment/Delete/@item.CommentID"
                                   class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>

                            </td>

                        </tr>

                                        }

                </tbody>

            </table>

        </div>
    </div>
@* <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Yorumlayıcı Adi</th>
            <th scope="col">Başlık</th>
            <th scope="col">Yorum</th>
            <th scope="col">Tarih</th>
            <th scope="col">Blog</th>
          
            <th scope="col">Skor</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            
            string statuscolor = "";
                       

                        if (item.BlogScore <=3 )
                        {


                            statuscolor = "badge bg-danger";
                        }
                        else if(item.BlogScore >= 3  && item.BlogScore <= 6)
                        {
                            statuscolor = "badge bg-warning";
                        }
                         else if(item.BlogScore >= 7 && item.BlogScore <=8)
                        {
                            statuscolor = "badge bg-primary";
                        }
                       
                        else if(item.BlogScore >=9 || item.BlogScore >=10 )
                        {
                            statuscolor = "badge bg-success";
                        }   
                       
            <tr>
                <th scope="row"> @item.CommentID</th>
                <th scope="row"> @item.CommentUserName</th>
                <th scope="row"> @item.CommentTitle</th>
                <th scope="row"> @item.CommentContent.Substring(0,5)</th>
                <th scope="row"> @(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</th>
                <th scope="row"> @item.Blog.BlogTitle</th>
              <td class="@statuscolor"> <i class="fa fa-level-up"></i> @item.BlogScore% </td>
               
            </tr>
        }
    </tbody>
</table>
</div>
</div> *@
</body>
</html>
