@using Entity.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Category>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Static Tables</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    @* <div id="wrapper">

       
        <div id="page-wrapper" class="gray-bg">
            *@
          
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Basic Table</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#" class="dropdown-item">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Kategori Adi</th>
                                            <th>Durum</th>
                                            <th>Aktif Yap</th>
                                            <th>Pasif  Yap</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model)
                                        {


                                    string text = "";
                                    string statuscolor = "";
                                    string categoryColor = "";

                                    // 🎯 CATEGORY COLOR
                                    switch (item.CategoryName?.Trim())
                                    {
                                        case "Teknoloji":
                                            categoryColor = "badge bg-success";
                                            break;

                                        case "Bilim":
                                        case "Din":
                                            categoryColor = "badge bg-info";
                                            break;

                                        case "Tarih":
                                            categoryColor = "badge bg-primary";
                                            break;

                                        case "Saglik":
                                            categoryColor = "badge bg-success";
                                            break;

                                        case "Egitim":
                                            categoryColor = "badge bg-warning";
                                            break;

                                        case "Spor":
                                            categoryColor = "badge bg-danger";
                                            break;

                                        case "Sanat":
                                            categoryColor = "badge bg-purple";
                                            break;

                                        case "Ekonomi":
                                            categoryColor = "badge bg-pink";
                                            break;

                                        case "Futbol":
                                            categoryColor = "badge bg-warning";
                                            break;

                                        default:
                                            categoryColor = "badge bg-secondary";
                                            break;
                                    }
                                    // 🎯 STATUS
                                    if (item.Status == true)
                                    {
                                        text = "Aktif";
                                        statuscolor = "badge bg-primary";
                                    }
                                    else
                                    {
                                        text = "Pasif";
                                        statuscolor = "badge bg-danger";
                                    }




                                            <tr>
                                                <td>@item.CategoryID</td>
                                        <td><label class="@categoryColor">@item.CategoryName</label></td>
                                        <td><label class="@statuscolor">@text</label></td>
                                        <td> <a href="/Admin/Category/ChangeStatusToTrue/@item.CategoryID" class="btn btn-success btn-rounded">Aktif Yap</a> </td>
                                        <td><a href="/Admin/Category/ChangeStatusToFalse/@item.CategoryID" class="btn btn-danger btn-rounded">Pasif Yap</a> </td>
                                            </tr>
                                        }
                                        
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                   
                </div>
               
            </div>
            <div class="footer">
                <div class="float-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2018
                </div>
            </div>

     @*    </div>
    </div>
 *@


    


</body>

</html>

@Html.PagedListPager((IPagedList)Model,sayfa =>Url.Action("CategoryList",new {sayfa}))
<br />
<a href="/Admin/Category/CreateCategory/" class="btn btn-info btn-rounded">Yeni kategori Ekle</a>
