@using Entity.Concrete
@model List<ToDo>
<div class="col-md-5 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-white">Yapılacak List</h4>
            <div class="add-items d-flex">
                <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button>
            </div>
            <div class="list-wrapper">
                <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                    @foreach(var item in Model)
                    {
                       
                        <li class="@(item.Status ? "Completed" : "")  ">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" @(item.Status ? "checked" : "")> @item.Title
                                </label>
                                <br />

                                <small class="text-muted">
                                    @item.Description
                                </small>
                                <br />
                                <span class="
                          badge
                          @(item.Priority == PriorityLevel.Low ? "badge-success" :
                                                              item.Priority == PriorityLevel.Medium ? "badge-info" :
                                                              item.Priority == PriorityLevel.High ? "badge-warning" :
                                                              "badge-danger")">

                                @item.Priority

                                </span>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
</div>